DB_LOCATION=/db/
DB_NAME=tg_pp_bot.db
PP_BOT_TOKEN=your_telegram_bot_token_here
# PP_BOT_TOKEN_REMOVED

# VK_GROUP_TOKEN=VK_GROUP_TOKEN_REMOVED
# VK_GROUP_ID=239083025
PROXY_URL=your_proxy_url_here
 # или http://proxy:port
# Примеры:
# PROXY_URL=http://127.0.0.1:8080
# PROXY_URL=socks5://username:password@proxy.example.com:1080

# Опционально для webhook
# WEBHOOK_URL=https://your-domain.com
